In [1]:
import pandas as pd 
import numpy as np 

import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv('clients_fix_data.csv')
data.head()

  first_name last_name                          email  gender         DOB
0     Henrik    Mouton               hmouton4f@qq.com    Male  18/03/1986
1        Sam     Voyce         svoyce9b@microsoft.com  Female  27/11/1990
2       Pete   O'Caine            pocaineas@adobe.com    Male  06/02/1993
3     Harlan   Ludwell  hludwell7f@simplemachines.org    Male  15/06/1995
4      Reade   Glasper            rglasper6s@ox.ac.uk    Male  09/05/1996

In [3]:
data.columns = data.columns.str.lower().str.replace(' ','_')

In [4]:
catergorical_columns = list(data.dtypes[data.dtypes == 'object'].index)

for c in catergorical_columns:
    data[c] = data[c].str.lower().str.replace(' ','_')

In [48]:
data['email'].groupby()

TypeError: You have to supply one of 'by' and 'level'

In [52]:
data['email'].median()

TypeError: could not convert string to float: 'hmouton4f@qq.com'

In [19]:
email= data.email

In [32]:
from collections import Counter

In [40]:
def domains(email):
    dc = Counter()
    for domain in email:
        current_email = email("@", 2)[1]
        dc.update([current_email])
    print(dc.most_common())

In [72]:
pd.set_option("display.max_rows", None)

In [27]:
email.nunique()

1330

In [43]:
List = list(set(email))

In [36]:
countlist = email.unique().mode()

AttributeError: 'numpy.ndarray' object has no attribute 'mode'

In [35]:
countlist

array(['hmouton4f@qq.com', 'svoyce9b@microsoft.com',
       'pocaineas@adobe.com', ..., 'krosellini3u@home.pl',
       'akepp2o@intel.com', 'kdunton9v@buzzfeed.com'], dtype=object)

In [54]:
email.d

0                    hmouton4f@qq.com
1              svoyce9b@microsoft.com
2                 pocaineas@adobe.com
3       hludwell7f@simplemachines.org
4                 rglasper6s@ox.ac.uk
                    ...
1325        vstanluckcw@123-reg.co.uk
1326          dspear4f@whitehouse.gov
1327             krosellini3u@home.pl
1328                akepp2o@intel.com
1329           kdunton9v@buzzfeed.com
Name: email, Length: 1330, dtype: object

In [49]:
import re

In [55]:
resultList = []
for e in email:
    result = re.search('@(.*) ', e)
    resultList.append(result)
common_email = Counter(resultList)

In [59]:
print(common_email.most_common())

[(None, 1330)]

In [71]:
email.groupby('')

KeyError: '@'

In [69]:
def count_from():
    with open("email") as f:
        domain =[re.findall('@([^\s]*)',i)[0] for i in f if i.startswith('From')]
        dics = {}
        for domain in domains:
            dics[domain] = domains.count(domain)
        return dics

In [70]:
count_from()

FileNotFoundError: [Errno 2] No such file or directory: 'email'